# Example One
## Total Daily NEM Emissions
Using the package <code>nemed</code> to calculate total daily NEM emissions over a historical period.

### Data Preparation
#### Import Packages

In [1]:
import os

import nemed
from nemed.downloader import *

# To generate plots shown
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

In [2]:
# Open plot in browser (optional)
import plotly.io as pio
pio.renderers.default = "browser"

#### Define Parameters

In [3]:
cache = "E:/TEMPCACHE/" # Set this to an existing empty folder or leave as ""
                        # to create a new cache folder
start_time = "2022/01/01 00:00:00" # Define the start of the historical period.
end_time = "2022/08/31 00:00:00" # Define the end of the historical period.
filter_units = None # List DUIDs if you only require data for specific units.
filter_regions = None # List regions if you only require data for such.

#### Get data using NEMED

In [4]:
result = nemed.get_total_emissions(start_time, end_time, cache, filter_regions, by="day", 
                        generation_sent_out=True, save_debug_file=False)

Compiling data for table DISPATCHLOAD.
Downloading data for table DISPATCHLOAD, year 2022, month 08
Warning: PUBLIC_DVD_DISPATCHLOAD_202208010000 not downloaded
Warning: Loading data from E:/TEMPCACHE/PUBLIC_DVD_DISPATCHLOAD_202208010000.feather failed.
Returning DISPATCHLOAD.
Compiling data for table DISPATCH_UNIT_SCADA.
Downloading data for table DISPATCH_UNIT_SCADA, year 2022, month 08
Warning: PUBLIC_DVD_DISPATCH_UNIT_SCADA_202208010000 not downloaded
Warning: Loading data from E:/TEMPCACHE/PUBLIC_DVD_DISPATCH_UNIT_SCADA_202208010000.feather failed.
Returning DISPATCH_UNIT_SCADA.

##### Sent Out Energy Generation

In [5]:
energy = result['Energy']
energy

REGIONID         NSW1       QLD1       SA1      TAS1       VIC1
Time
2022-01-01  138168.80  154654.70  40180.86  33272.00  144141.47
2022-01-02  148290.76  152901.72  33007.96  26601.79  128909.87
2022-01-03  152065.93  153805.17  25017.46  19009.22  122516.95
2022-01-04  167311.91  167166.80  30891.32  18514.35  132438.70
2022-01-05  175152.97  184612.43  30541.47  19892.15  137066.72
...               ...        ...       ...       ...        ...
2022-07-27  202546.30  188713.32  56522.89  27231.64  148223.78
2022-07-28  199441.92  183777.79  62493.45  32604.69  135319.89
2022-07-29  197170.35  180910.32  66780.18  31044.49  133523.54
2022-07-30  179289.68  175306.65  53723.29  27805.30  140814.32
2022-07-31  183782.93  171217.53  43619.07  29951.02  145642.22

[212 rows x 5 columns]

##### Total Emissions

In [6]:
emissions_tot = result['Total_Emissions']
emissions_tot

REGIONID         NSW1       QLD1       SA1    TAS1       VIC1
Time
2022-01-01   91326.89  109842.77  16308.63  -49.24  108426.39
2022-01-02   94934.54  109869.46   8686.94  -46.86  109312.16
2022-01-03   92861.61  108767.08   3259.06  -49.18   93075.85
2022-01-04  102339.56  119633.08   2922.62  -47.55   97163.44
2022-01-05  103506.36  125901.11   1318.26  -51.88   98498.89
...               ...        ...       ...     ...        ...
2022-07-27  136100.44  116313.80  23716.85  102.01  117922.66
2022-07-28  146920.34  122454.28  31169.87   63.69  120776.95
2022-07-29  147530.43  123134.84  24687.70  217.44  121128.53
2022-07-30  132563.35  112429.38   6792.05    0.00  100412.09
2022-07-31  127698.11  112890.26   3864.89  120.89   89005.25

[212 rows x 5 columns]

##### Emissions Intensity (Average Emissions)

In [7]:
emissions_avg = result['Intensity_Index']
emissions_avg

REGIONID    NSW1  QLD1   SA1  TAS1  VIC1
Time
2022-01-01  0.66  0.71  0.40 -0.00  0.76
2022-01-02  0.64  0.72  0.24 -0.00  0.87
2022-01-03  0.61  0.72  0.13 -0.00  0.76
2022-01-04  0.62  0.73  0.09 -0.00  0.73
2022-01-05  0.59  0.69  0.04 -0.00  0.72
...          ...   ...   ...   ...   ...
2022-07-27  0.67  0.61  0.40  0.01  0.80
2022-07-28  0.74  0.66  0.49  0.00  0.90
2022-07-29  0.75  0.68  0.37  0.01  0.91
2022-07-30  0.74  0.64  0.11  0.00  0.72
2022-07-31  0.69  0.66  0.08  0.00  0.61

[212 rows x 5 columns]

#### Retrieve Published AEMO CDEII data for comparison

In [8]:
# aemo = download_aemo_cdeii_summary(2019, start_time, end_time, cache) # NOT CONFIGURED FOR RECENT 2022 DATA
aemo = download_current_aemo_cdeii_summary(start_time, end_time) # CONFIGURED FOR 2022 DATA
aemo

,SETTLEMENTDATE,REGIONID,TOTAL_SENT_OUT_ENERGY,TOTAL_EMISSIONS,CO2E_INTENSITY_INDEX
36,2022-01-01,NEM,481698.25790,320948.722700,0.6663
37,2022-01-01,NSW1,144452.25250,98675.012290,0.6831
38,2022-01-01,QLD1,145442.98140,106138.523800,0.7298
39,2022-01-01,SA1,22991.56012,8046.003842,0.3500
40,2022-01-01,TAS1,33571.06637,0.000000,0.0000
...,...,...,...,...,...
1423,2022-08-20,NSW1,172060.30300,122684.609900,0.7130
1424,2022-08-20,QLD1,145083.58950,101098.356300,0.6968
1425,2022-08-20,SA1,27416.39475,7502.975958,0.2737
1426,2022-08-20,TAS1,30286.40691,616.556876,0.0204
1427,2022-08-20,VIC1,124467.30720,84493.884900,0.6788

#### Compute Error between Datasets

In [9]:
def calculate_total_emissions_error(region):
    sel_aemo = aemo[aemo['REGIONID']==region].reset_index(drop=True)
    error_calc = [emissions_tot[region].values[i] - sel_aemo['TOTAL_EMISSIONS'][i] for i in range(min(len(emissions_tot[region]), len(sel_aemo['TOTAL_EMISSIONS']))-1)]
    error_pct = [(error_calc[i] / sel_aemo['TOTAL_EMISSIONS'][i]) * 100 for i in range(len(error_calc)) if sel_aemo['TOTAL_EMISSIONS'][i]>10]
    return error_pct

def calculate_energy_error(region):
    sel_aemo = aemo[aemo['REGIONID']==region].reset_index(drop=True)
    error_calc_en = [energy[region].values[i] - sel_aemo['TOTAL_SENT_OUT_ENERGY'][i] for i in range(min(len(energy[region]), len(sel_aemo['TOTAL_SENT_OUT_ENERGY']))-1)]
    error_pct_en = [(error_calc_en[i] / sel_aemo['TOTAL_SENT_OUT_ENERGY'][i]) * 100 for i in range(len(error_calc_en))]
    return error_pct_en

#### Setup Plotting
##### Energy Plot Format

In [10]:
def plot_energy(region, color_idx):
    sel_aemo = aemo[aemo['REGIONID']==region].reset_index(drop=True)

    error_pct_en = calculate_energy_error(region)

    fig = make_subplots(rows=4, cols=1, shared_xaxes=True, vertical_spacing=0.05,
        specs=[[{"rowspan": 3}],[{}],[{}],[{"rowspan":1}]])
    colors = px.colors.qualitative.Dark2
    colors_er = px.colors.qualitative.Set2

    fig.update_layout(template="plotly_white",\
        title=f"NEM Emissions Data (NEMED) Tool: Comparison of Generation Data against AEMO reporting<br><sub>{region} Region Sent Out Generation</sub>")
    fig.update_yaxes(title_text="Total Energy (MWh)", row=1, col=1)
    fig.update_yaxes(title_text="Error wrt.<br>AEMO (%)", row=4, col=1)
    fig.update_xaxes(title_text="Date (Day)", row=4, col=1)

    fig.add_trace(go.Scatter(x=sel_aemo['SETTLEMENTDATE'][:-1],y=sel_aemo['TOTAL_SENT_OUT_ENERGY'],\
        name="AEMO CDEII Report",mode="lines+markers",line_color=colors[7]),row=1,col=1)

    fig.add_trace(go.Scatter(x=energy.index[:-1],y=energy[region].values,\
        name="Downloaded via NEMOSIS SENT-OUT",mode="lines+markers",line_color=colors[color_idx]),row=1,col=1)

    fig.add_trace(go.Scatter(x=energy.index[:-1],y=error_pct_en,\
        name="Calculation Error (Sent Out)", mode="lines",line_color=colors[color_idx],line_dash='dot'),row=4,col=1)

    fig.show()

def plot_energy_nem(color_idx):
    sel_aemo = aemo[aemo['REGIONID']=='NEM'].reset_index(drop=True)

    energy['NEM'] = energy.sum(axis=1)
    region = 'NEM'

    error_calc_en = [energy[region].values[i] - sel_aemo['TOTAL_SENT_OUT_ENERGY'][i] for i in range(min(len(energy[region].values), len(sel_aemo['TOTAL_SENT_OUT_ENERGY']))-1)]
    error_pct_en = [(error_calc_en[i] / sel_aemo['TOTAL_SENT_OUT_ENERGY'][i]) * 100 for i in range(len(error_calc_en))]

    fig = make_subplots(rows=4, cols=1, shared_xaxes=True, vertical_spacing=0.05,
        specs=[[{"rowspan": 3}],[{}],[{}],[{"rowspan":1}]])
    colors = px.colors.qualitative.Dark2
    colors_er = px.colors.qualitative.Set2

    fig.update_layout(template="plotly_white",\
        title=f"NEM Emissions Data (NEMED) Tool: Comparison of Generation Data against AEMO reporting<br><sub>{region} Region Sent Out Generation</sub>")
    fig.update_yaxes(title_text="Total Energy (MWh)", row=1, col=1)
    fig.update_yaxes(title_text="Error wrt.<br>AEMO (%)", row=4, col=1)
    fig.update_xaxes(title_text="Date (Day)", row=4, col=1)

    fig.add_trace(go.Scatter(x=sel_aemo['SETTLEMENTDATE'][:-1],y=sel_aemo['TOTAL_SENT_OUT_ENERGY'],\
        name="AEMO CDEII Report",mode="lines+markers",line_color=colors[7]),row=1,col=1)

    fig.add_trace(go.Scatter(x=energy.index[:-1],y=energy[region].values,\
        name="Downloaded via NEMOSIS SENT-OUT",mode="lines+markers",line_color=colors[color_idx]),row=1,col=1)

    fig.add_trace(go.Scatter(x=energy.index[:-1],y=error_pct_en,\
        name="Calculation Error (Sent Out)", mode="lines",line_color=colors[color_idx],line_dash='dot'),row=4,col=1)

    fig.show()

##### Total Emissions Plot Format

In [11]:
def plot_emissions(region, color_idx):
    sel_aemo = aemo[aemo['REGIONID']==region].reset_index(drop=True)

    error_pct = calculate_total_emissions_error(region)
        
    fig = make_subplots(rows=4, cols=1, shared_xaxes=True, vertical_spacing=0.1,
        specs=[[{"rowspan": 3}],[{}],[{}],[{"rowspan":1}]],)
    colors = px.colors.qualitative.Dark2
    colors_er = px.colors.qualitative.Set2

    fig.update_layout(template="plotly_white",\
        title=f"NEM Emissions Data (NEMED) Tool: Comparison of Emissions Data against AEMO reporting<br><sub>{region} Region</sub>")
    fig.update_yaxes(title_text="Total Emissions (tCO2-e)", row=1, col=1)
    fig.update_yaxes(title_text="Error wrt.<br>AEMO (%)", row=4, col=1)
    fig.update_xaxes(title_text="Date (Day)", row=4, col=1)

    fig.add_trace(go.Scatter(x=sel_aemo['SETTLEMENTDATE'],y=sel_aemo['TOTAL_EMISSIONS'],\
        name="AEMO CDEII Report",mode="lines+markers",line_color=colors[7]),row=1,col=1)

    fig.add_trace(go.Scatter(x=emissions_tot.index,y=emissions_tot[region].values,\
        name="Downloaded via NEMOSIS SENT-OUT",mode="lines+markers",line_color=colors[color_idx]),row=1,col=1)

    fig.add_trace(go.Scatter(x=emissions_tot.index[:-1],y=error_pct,\
        name="Calculation Error (Sent Out)", mode="lines",line_color=colors[color_idx],line_dash='dot'),row=4,col=1)

    fig.show()

def plot_emissions_nem(color_idx):
    sel_aemo = aemo[aemo['REGIONID']=='NEM'].reset_index(drop=True)

    emissions_tot['NEM'] = emissions_tot.sum(axis=1)
    region = 'NEM'

    error_calc = [emissions_tot[region].values[i] - sel_aemo['TOTAL_EMISSIONS'][i] for i in range(min(len(emissions_tot[region].values), len(sel_aemo['TOTAL_EMISSIONS']))-1)]
    error_pct = [(error_calc[i] / sel_aemo['TOTAL_EMISSIONS'][i]) * 100 for i in range(len(error_calc))]

    fig = make_subplots(rows=4, cols=1, shared_xaxes=True, vertical_spacing=0.1,
        specs=[[{"rowspan": 3}],[{}],[{}],[{"rowspan":1}]],)
    colors = px.colors.qualitative.Dark2
    colors_er = px.colors.qualitative.Set2

    fig.update_layout(template="plotly_white",\
        title=f"NEM Emissions Data (NEMED) Tool: Comparison of Emissions Data against AEMO reporting<br><sub>{region} Region</sub>")
    fig.update_yaxes(title_text="Total Emissions (tCO2-e)", row=1, col=1)
    fig.update_yaxes(title_text="Error wrt.<br>AEMO (%)", row=4, col=1)
    fig.update_xaxes(title_text="Date (Day)", row=4, col=1)

    fig.add_trace(go.Scatter(x=sel_aemo['SETTLEMENTDATE'],y=sel_aemo['TOTAL_EMISSIONS'],\
        name="AEMO CDEII Report",mode="lines+markers",line_color=colors[7]),row=1,col=1)

    fig.add_trace(go.Scatter(x=emissions_tot.index,y=emissions_tot[region].values,\
        name="Downloaded via NEMOSIS SENT-OUT",mode="lines+markers",line_color=colors[color_idx]),row=1,col=1)

    fig.add_trace(go.Scatter(x=emissions_tot.index[:-1],y=error_pct,\
        name="Calculation Error (Sent Out)", mode="lines",line_color=colors[color_idx],line_dash='dot'),row=4,col=1)

    fig.show()

### Compare Results

#### Sent Out Energy Generation 
##### NEM (All Regions)

In [12]:
plot_energy_nem(color_idx=0)

```{include} charts_ex1/energy_nem.html
```
[<div style="text-align: right"> <button type="button">Open Plot in New Window </button></div>](charts_ex1/energy_nem.html)

##### NSW Region

In [13]:
region = 'NSW1'
plot_energy(region, color_idx=1)

```{include} charts_ex1/energy_nsw.html
```
[<div style="text-align: right"> <button type="button">Open Plot in New Window </button></div>](charts_ex1/energy_nsw.html)

##### VIC Region

In [14]:
region = 'VIC1'
plot_energy(region, color_idx=3)

```{include} charts_ex1/energy_vic.html
```
[<div style="text-align: right"> <button type="button">Open Plot in New Window </button></div>](charts_ex1/energy_vic.html)

##### QLD Region

In [15]:
region = 'QLD1'
plot_energy(region, color_idx=2)

```{include} charts_ex1/energy_qld.html
```
[<div style="text-align: right"> <button type="button">Open Plot in New Window </button></div>](charts_ex1/energy_qld.html)

##### SA Region

In [16]:
region = 'SA1'
plot_energy(region, color_idx=4)

```{include} charts_ex1/energy_sa.html
```
[<div style="text-align: right"> <button type="button">Open Plot in New Window </button></div>](charts_ex1/energy_sa.html)

##### TAS Region

In [17]:
region = 'TAS1'
plot_energy(region, color_idx=5)

```{include} charts_ex1/energy_tas.html
```
[<div style="text-align: right"> <button type="button">Open Plot in New Window </button></div>](charts_ex1/energy_tas.html)

#### Total Emissions
##### NEM (All Regions)

In [18]:
region = 'NEM'
plot_emissions_nem(color_idx=0)

```{include} charts_ex1/emissions_nem.html
```
[<div style="text-align: right"> <button type="button">Open Plot in New Window </button></div>](charts_ex1/emissions_nem.html)

##### NSW Region

In [19]:
region = 'NSW1'
plot_emissions(region, color_idx=1)

```{include} charts_ex1/emissions_nsw.html
```
[<div style="text-align: right"> <button type="button">Open Plot in New Window </button></div>](charts_ex1/emissions_nsw.html)

##### VIC Region

In [20]:
region = 'VIC1'
plot_emissions(region, color_idx=3)

```{include} charts_ex1/emissions_vic.html
```
[<div style="text-align: right"> <button type="button">Open Plot in New Window </button></div>](charts_ex1/emissions_vic.html)

##### QLD Region

In [21]:
region = 'QLD1'
plot_emissions(region, color_idx=2)

```{include} charts_ex1/emissions_qld.html
```
[<div style="text-align: right"> <button type="button">Open Plot in New Window </button></div>](charts_ex1/emissions_qld.html)

##### SA Region

In [22]:
region = 'SA1'
plot_emissions(region, color_idx=4)

```{include} charts_ex1/emissions_sa.html
```
[<div style="text-align: right"> <button type="button">Open Plot in New Window </button></div>](charts_ex1/emissions_sa.html)

##### TAS Region

In [23]:
region = 'TAS1'
plot_emissions(region, color_idx=5)

```{include} charts_ex1/emissions_tas.html
```
[<div style="text-align: right"> <button type="button">Open Plot in New Window </button></div>](charts_ex1/emissions_tas.html)